extends ../layout/index

block contenido
  div(class="min-h-screen grid place-items-center p-5")
      div(class="bg-white w-full md:max-w-5xl mx-auto shadow")
        div(class="grid md:grid-cols-2 gap-10 md:gap-5")
          picture(class="max-h-72 md:max-h-none md:h-[700px] md:w-full overflow-clip")
            source(srcset="/img/registro-image.webp" type="image/webp")
            source(srcset="/img/registro-image.png" type="image/jpg")
            img(class="object-cover object-center w-full h-full" src="/img/registro-image.png", alt="White House Image")

          form(class="flex flex-col justify-center space-y-5 px-5 pb-10 py-0 md:pl-0 md:pb-0" action="/auth/registro" method="POST")
            
              h1(class="text-4xl font-extrabold text-center") Bienes
                span(class="font-normal") Raices
              h2(class="text-center text-2xl font-bold tracking-tighter")= pagina
              div
                label(class="block text-md mb-2 font-semibold" for="nombre") Nombre
                input#nombre(class="w-full px-3 py-2 border border-gray-200 rounded" placeholder="Ingresa tu nombre" type="text" name="nombre" value= nombre ? nombre : '')
                if errores
                  each error in errores  
                    if error.path === "nombre"
                      p(class="text-red-400 font-semibold before:content-['*']")= error.msg
              div
                label(class="block text-md mb-2 font-semibold" for="correo") Correo
                input#correo(class="w-full px-3 py-2 border border-gray-200 rounded" placeholder="Ingresa tu email" type="email" name="correo" value= correo ? correo : '')
                if errores
                  each error in errores  
                    if error.path === "correo"
                      p(class="text-red-400 font-semibold before:content-['*']")= error.msg
              div
                label(class="block text-md mb-2 font-semibold" for="clave") Contraseña
                input#clave(class="w-full px-3 py-2 border border-gray-200 rounded" placeholder="Ingresa tu contraseña" type="password" name="clave")
                if errores
                  each error in errores  
                    if error.path === "clave"
                      p(class="text-red-400 font-semibold before:content-['*']")= error.msg
              div
                label(class="block text-md mb-2 font-semibold" for="repetir_clave") Repetir contraseña
                input#repetir_clave(class="w-full px-3 py-2 border border-gray-200.rounded" placeholder="Repite tu contraseña" type="password" name="repetir_clave")
                if errores
                  each error in errores  
                    if error.path === "repetir_clave"
                      p(class="text-red-400 font-semibold before:content-['*']")= error.msg
              input(type="hidden" name="_csrf" value=csrfToken)
              button(class="full-btn bg-neutral-800 hover:bg-neutral-900 text-white") Registrarse
              div(class="space-y-3")
                a(class="text-xs text-center block text-neutral-500" href="/auth/login") ¿Ya tienes cuenta? Inicia sesión
                a(class="text-xs text-center block text-neutral-500" href="/auth/olvide-password") ¿Olvidaste tu contraseña? Restablecela
